header {
    height: 50px;
    background-color: rgb(199, 192, 192);
    position: relative;
}
img {
    height: 40px;
    width: 40px;

}
ul.tieude >li {
    float: left;
}
h1 {
    position: absolute;
    bottom: 0.1px;
}
i {
    float: right;
    font-size: 30px;
    padding: 0 12px;
    
}
input {
    float: right;
}
/* bảng */
table {
    margin-left: 500px;
}
/* phần giữa */
main {
    height: 500px;
    background-color: aqua;
    
}
aside {
    height: 500px;
    width: 20%;
    background-color: blue;
    overflow: auto;
    float: left;
}
article {
    width: 80%;
    height: 500px;
    float: left;
    background-color: rgb(236, 226, 226);
}
footer {
    height: 46px;
    background-color: aquamarine;
    
}
.chan a {
    padding: 15px;
    
}
.chan {
    margin-left: 500px;
    
}
.ti-search {
    cursor: pointer;
}
li {
    list-style-type: none;
}

